// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Sofia-Pro-Light";
$headers-font: "Sofia-Pro-Regular";

// To use a font file (.woff) uncomment following lines
 @font-face {
   font-family: "Sofia-Pro-Black";
   src: font-url('Sofia-Pro-Black.ttf') format('truetype')
 }

 $sofia-font-black: "Sofia-Pro-Black";

 @font-face {
   font-family: "Sofia-Pro-Regular";
   src: font-url('Sofia-Pro-Regular.ttf') format('truetype')
 }

 $sofia-font-regular: "Sofia-Pro-Regular";

 @font-face {
   font-family: "Sofia-Pro-Light-Italic";
   src: font-url('Sofia-Pro-Light-Italic.ttf') format('truetype')
 }

 $sofia-font-italic: "Sofia-Pro-Light-Italic";

 @font-face {
   font-family: "Sofia-Pro-Light";
   src: font-url('Sofia-Pro-Light.ttf') format('truetype')
 }

 $sofia-font-light: "Sofia-Pro-Light";
