
.description-about {
   border: 10px solid #555;
   background-color: rgb(255, 255, 255);
   margin: 30px;
   width: 400px
   // margin: auto;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.banner-about {
  margin-bottom: 80px;
  margin-top: 80px;
  width: 800px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 8px;

}

.banner-about h1 {
  margin-bottom: 3rem !important;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.banner-about p {
  padding: 15px;
  opacity: .9;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
