.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text {
  width: 50%;
  text-align: justify;
  font-size: 1.5em;
}

.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #555;
}

input, textarea {
  width: 100%;
}

.find-me {
  font-size: 2.2em;
}

.form-contact {
  margin-left: 50px;
}

.typewriter {
  display: inline-block;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 300;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

.phone-tagline {
  display: none;
}

@media (max-width: 420px) {
  .form-contact {
    position: absolute;
    width: 80%;
    margin-left: 0;
  }
  .typewriter-text {
    display: none;
  }
  .contact-infos {
    margin: 80px 0;
    img {
      width: 100%;
    }
    // position: absolute;
    // top: 60%;
  }
  .contact-text {
    width: 80%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.3em;
  }
  .find-me {
    font-size: 1.7em;
  }
  .phone-tagline {
    display: block;
  }
}

@media (max-width: 768px) {
  .form-contact {
    position: absolute;
    width: 80%;
    margin-left: 0;
  }
  .typewriter-text {
    display: none;
  }
  .contact-infos {
    margin: 80px 0;
    img {
      width: 100%;
    }
    // position: absolute;
    // top: 60%;
  }
  .contact-text {
    width: 80%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.3em;
  }
  .find-me {
    font-size: 1.7em;
  }
  .phone-tagline {
    display: block;
  }
}
