.show-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-show {
  text-align: center;
}

.back-and-title {
  display: flex;
 align-items: center;
}

.title-card {
  flex: 1 0 50%;
}

.card-picture {
  margin-top: 15px;
  img {
    max-width: 90%;
  }
}

.card-description {
  margin-top: 20px;
  p {
    font-size: 150%;
  }
}

.button-retour2 {
  display: none;
  img {
    width: 40px;
  }
}

@media (max-width: 1200px) {
  .button-retour {
    display: none;
  }
  .button-retour2 {
    display: inline-block;
  }
}

