.show-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-show {
  text-align: center;
}

.back-and-title {
  display: flex;
 align-items: center;
}

.title-card {
  flex: 1 0 50%;
}

.card-picture {
  margin-top: 15px;
}

.card-picture img {
    width: 650px;
}

.card-description {
  margin-top: 20px;
}

