<div class="about-wrapper">
  <div class="container-about">
    <div class="about-title">
      <h1 class="text-center mt-5 mb-5">About</h1>
    </div>
    <div class="banner-about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/doli7gxql/image/upload/v1556024588/about.png);">
      <div class="description-about">
        <p>Vero sublatum falsi semel est in ac iudicium partiendo parte vester putat quae via iudicium disserendi philosophiae iste in disserendi solvantur efficiatur inermis ac quae logikh captiosa esse in est.</p>
      </div>
    </div>
  </div>
</div>
