<div class="banner-about" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/doli7gxql/image/upload/v1556024588/about.png);">
  <div class="container">
    <h1> About me </h1>
    <p>Vero sublatum falsi semel est in ac iudicium partiendo parte vester putat quae via iudicium disserendi philosophiae iste in disserendi solvantur efficiatur inermis ac quae logikh captiosa esse in est.</p>

  </div>
</div>
