<div class="contact-wrapper">

  <h1 class="text-center mt-5 mb-5">Contact</h1>

  <div class="contact-text mb-5">
    <p>Welcome ! if you need information, a quote or make an order, please contact me by the folowing form. You can also reach me by social networks.</p>
  </div>
  <div class="container-contact-content">

    <div class="contact-infos">
      <%= image_tag "contact.jpg", alt: "Contact", width: 800 %>
    </div>
    <div class="form-contact">
      <div class="form-box">
          <div class="typewriter">
            <div class="typewriter-text">
              <h2>Send me a message.</h2>
            </div>
          <h2 class="phone-tagline">Contact me</h2>
        </div>
        <form action="https://api.formbucket.com/f/c2K3QTQ" method="post">
            <label for="name">Name</label>
            <input id="name" type="text" name="Name">

            <label for="email">Email</label>
            <input id="email" type="email" name="Email">

            <label for="message">Message</label>
            <textarea id="message" name="Message"></textarea>
          <input class="btn-custom2" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <p class="mt-5 mb-5 find-me">Find me on : &nbsp<i class="fab fa-instagram"></i> &nbsp<i class="fab fa-facebook-f"></i> &nbsp<i class="fab fa-twitter"></i></hp>
</div>
