<div class="contact-wrapper">

  <h1 class="text-center mt-5 mb-5">Contact</h1>

      <div class="contact-text mb-5">
        <h4>Welcome ! if you need information, a quote or make an order, please contact me by the folowing form. You can also reach me on social networks.</h4>
      </div>
  <div class="container-contact-content">

    <div class="contact-infos">
      <%= image_tag "contact.jpg", alt: "Contact", width: 800 %>
    </div>
    <div class="form-contact">
      <div class="form-box">
        <h1>Send me a message </h1>
        <form action="https://api.formbucket.com/f/c2K3QTQ" method="post">
            <label for="name">Name</label>
            <input id="name" type="text" name="Name">

            <label for="email">Email</label>
            <input id="email" type="email" name="Email">

            <label for="message">Message</label>
            <textarea id="message" name="Message"></textarea>
          <input class="button-primary" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <h1 class="mt-5 mb-5">Find me on : <i class="fab fa-instagram"></i> <i class="fab fa-facebook-f"></i> <i class="fab fa-twitter"></i></h1>
</div>
