.btn-custom {
  color: #222;
  font-size: 40px;
  font-family: $sofia-font-italic;
  padding: 10px 15px;
  border-bottom: 1px solid black;
  text-decoration: none;
  // transition: all .2s ease;
  &:hover {
    color: #666;
    font-size: 40px;
    font-family: $sofia-font-italic;
    padding: 10px 15px;
    border-bottom: 0px solid black;
    text-decoration: none;
  }
}
