<% if user_signed_in? && current_user.email == "louise@test.com" %>
  <h1 class="text-center mt-5 mb-5">New product</h1>
<% else %>
  <h1 class="text-center mt-5 mb-5" style="color: #be0000;">You don't have the permission for this</h1>
<% end %>
